In [1]:
import pandas as pd
import numpy as np

In [12]:
data =pd.read_csv("C:\\Users\\aadit\\Downloads\\playground-series-s3e8\\train.csv")

In [13]:
## reading the first few lines of the data

data.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

Introduction About the Data : The dataset The goal is to predict price of given diamond (Regression Analysis).

There are 10 independent variables (including id):

id : unique identifier of each diamond

carat : Carat (ct.) refers to the unique unit of weight measurement used exclusively to weigh gemstones and diamonds.

cut : Quality of Diamond Cut

color : Color of Diamond

clarity : Diamond clarity is a measure of the purity and rarity of the stone, graded by the visibility of these characteristics under 10-power magnification.

depth : The depth of diamond is its height (in millimeters) measured from the culet (bottom tip) to the table (flat, top surface)

table : A diamond's table is the facet which can be seen when the stone is viewed face up.

x : Diamond X dimension

y : Diamond Y dimension

x : Diamond Z dimension

Target variable:
Price if Diamond

In [17]:
data['cut'].value_counts(normalize=True)*100

cut
Ideal        47.761826
Premium      25.783555
Very Good    19.406632
Good          6.003936
Fair          1.044051
Name: proportion, dtype: float64

In [18]:
data.shape

(193573, 11)

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193573 entries, 0 to 193572
Data columns (total 11 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       193573 non-null  int64
 1   carat    193573 non-null  float64
 2   cut      193573 non-null  object
 3   color    193573 non-null  object
 4   clarity  193573 non-null  object
 5   depth    193573 non-null  float64
 6   table    193573 non-null  float64
 7   x        193573 non-null  float64
 8   y        193573 non-null  float64
 9   z        193573 non-null  float64
 10  price    193573 non-null  int64
dtypes: float64(6), int64(2), object(3)
memory usage: 16.2+ MB

In [21]:
data.isnull().sum()

id         0
carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

In [22]:
data.sample(n=10)

,id,carat,cut,color,clarity,depth,table,x,y,z,price
97118,97118,0.72,Ideal,G,VS1,62.1,57.0,5.64,5.73,3.53,3138
65393,65393,0.90,Premium,E,SI2,62.1,59.0,6.18,6.14,3.83,3775
94292,94292,1.52,Premium,F,SI1,61.8,60.0,7.44,7.43,4.59,10698
24968,24968,0.38,Ideal,F,VS2,61.8,57.0,4.66,4.68,2.88,873
113272,113272,0.53,Ideal,H,VS2,62.1,55.0,5.20,5.17,3.22,1304
45250,45250,0.72,Ideal,G,SI1,61.0,56.0,5.78,5.82,3.53,2671
186493,186493,1.23,Ideal,H,SI2,60.4,57.0,6.95,6.90,4.19,4914
49125,49125,0.31,Ideal,D,VS2,61.7,55.0,4.36,4.39,2.70,755
175989,175989,1.56,Premium,H,SI1,61.8,57.0,7.47,7.41,4.60,10772
154203,154203,0.70,Very Good,H,SI2,63.2,59.0,5.60,5.62,3.54,2176

In [23]:
data.duplicated().sum()

0

In [25]:
data.size

2129303

In [26]:
data.columns

Index(['id', 'carat', 'cut', 'color', 'clarity', 'depth', 'table', 'x', 'y',
       'z', 'price'],
      dtype='object')

In [28]:
# id column is not beneficial 

data.drop(columns='id',axis=1,inplace=True)

In [29]:
data.columns

Index(['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'x', 'y', 'z',
       'price'],
      dtype='object')